pipeline/pl_create_gold_trip_data_green.json
{
	"name": "pl_create_gold_trip_data_green",
	"properties": {
		"activities": [
			{
				"name": "GetYearAndMonth",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_serverless_sql_pool_db_nyc_taxi_ldw",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "USE nyc_taxi_ldw;\n\nSELECT DISTINCT\n        year,\n        month\nFROM bronze.vw_trip_data_green_csv;"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "ForEachMthAndYearGold",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetYearAndMonth",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetYearAndMonth').output.resultSets[0].rows",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "DeleteGoldFolders",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_nyc_taxi_data_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"p_folder_path": {
											"value": "gold/trip_data_green/year=@{item().year}/month=@{item().month}",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "CreateGoldMonthFolders",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "DeleteGoldFolders",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[gold].[usp_gold_trip_data_green]",
								"storedProcedureParameters": {
									"month": {
										"value": {
											"value": "@item().month",
											"type": "Expression"
										},
										"type": "String"
									},
									"year": {
										"value": {
											"value": "@item().year",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_serverless_sql_pool_db_nyc_taxi_ldw",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "createGoldViews",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "ForEachMthAndYearGold",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_serverless_sql_pool_db_nyc_taxi_ldw",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": "USE nyc_taxi_ldw;"
						},
						{
							"type": "NonQuery",
							"text": "DROP VIEW IF EXISTS gold.vw_trip_data_green;"
						},
						{
							"type": "NonQuery",
							"text": "\nCREATE VIEW gold.vw_trip_data_green\nAS\nSELECT\n        result.filepath(1) as year,\n        result.filepath(2) as month,\n        result.*\nFROM\n    OPENROWSET(\n        BULK 'gold/trip_data_green/year=*/month=*/*.parquet',\n        DATA_SOURCE = 'nyc_taxi_src',\n        FORMAT = 'PARQUET'\n    ) \n    with(\n            borough VARCHAR(15),\n            trip_date DATE,\n            trip_day_weekend_ind CHAR(1),\n            card_trip_count INT,\n            cash_trip_count INT,\n            street_hail_trip_count INT,\n            dispatch_trip_count INT,\n            trip_distance FLOAT,\n            trip_duration INT,\n            fare_amount FLOAT\n    ) AS [result];"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-12-02T15:55:40Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}